body,
html {
  @extend .medium-bg;
  margin: 0;
  padding: 0;
}

.padded-space {
  height: 100%;
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  min-height: 90vh;
}
