body,
html {
  @extend .dark-bg;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.padded-space {
  height: 100%;
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  
  @include maxMD {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
  min-height: 95vh;
}

#loom-companion-mv3,
#shadow-host-companion {
  display: none;
}