$color-1: #f7fff7;
$color-2: #47bdb5;
$color-3: #41ada5;
$color-4: #1a535c;
$color-5: #070707;
$color-6: #ff6b6b;
$color-7: #2e6561;
$color-8: #fdfdfdb1;
$color-9: #c7c7c7;
$color-10: #1c2223;
$color-11: #15454c;
