$pure--white: #f7fff7;
$pure--dark: #0d0d0d;
$soft--dark: #1c2223;

$main--bg: #0E1624;
$secondary--bg: #141b29f2;

$highlight: #81dfe8;
$dark--highlight: #231B30;

$call--to-action: #5DEEFF;

$grey: #fdfdfdb1;
