input,
textarea {
  background-color: $color-1;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid $color-3;
  border-radius: 14px;

  &:focus,
  &:active {
    outline: 1px solid $color-3;
  }

  &::placeholder {
    color: $color-9;
  }
}

textarea {
  min-height: 10rem;
}

button {
  color: $color-1;
  background-color: $color-4;
  border: 1px solid $color-4;
  border-radius: 20px;
  padding: 1rem 2rem;
  display: flex;
  cursor: pointer;

  &:hover {
    outline: 2px solid;
    outline-color: $color-4;
  }

  &.btn-light {
    background-color: $color-3;
    border: 1px solid $color-3;
    &:hover {
      outline-color: $color-3;
    }
  }

  &.btn-warning {
    background-color: $color-6;
    border: 1px solid $color-6;
    &:hover {
      outline-color: $color-1;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  svg {
    fill: $color-1;
  }
}
