input,
textarea {
  background-color: $pure--white;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid $dark--highlight;
  border-radius: 14px;

  &:focus,
  &:active {
    outline: 1px solid $dark--highlight;
  }

  &::placeholder {
    color: $grey;
  }
}

textarea {
  min-height: 10rem;
}

button {
  color: $pure--white;
  background-color: $main--bg;
  border: 1px solid $main--bg;
  border-radius: 20px;
  padding: 1rem 2rem;
  display: flex;
  cursor: pointer;

  &:hover {
    outline: 2px solid;
    outline-color: $main--bg;
  }

  &.btn-light {
    background-color: $dark--highlight;
    border: 1px solid $dark--highlight;
    &:hover {
      outline-color: $dark--highlight;
    }
  }

  &.btn-warning {
    background-color: $call--to-action;
    border: 1px solid $call--to-action;
    &:hover {
      outline-color: $pure--white;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  svg {
    fill: $pure--white;
  }
}
