// Colors

.dark-bg {
  background-color: $main--bg;
  color: $pure--white;
}

// Layout

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.shadowless {
  box-shadow: none;
  text-shadow: none;
}
