@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

* {
  font-family: "Crimson Text", serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.6rem;
}

p,
span,
div {
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: $color-4;
  text-decoration: none;

  &.active {
    color: $color-1;
  }
}
